button.button {
  font-family: inherit;
  background: none;
  position: relative;
  z-index: 3;
  font-size: 1rem;
  letter-spacing: 0.05em;
  transition: opacity 0.2s ease, background-color 0.2s ease;
  border-radius: 2px;

  &:active {
    opacity: 0.7;
  }

  &.button-style-1 {
    background-color: var(--white-color);
    border: solid 0.05rem var(--alt-color);
    color: var(--alt-color);
    border-radius: 2px;
    padding: 0.5rem 1rem;
  }

  &.button-style-2 {
    background-color: var(--alt-color);
    color: var(--white-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 2px;
  }
}
